# Xcode
.build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate

# Config
Config/Debug.xcconfig
Config/Release.xcconfig
*.xcconfig
!Config/
!Config/Debug.xcconfig
!Config/Release.xcconfig

# DS_Store
.DS_Store

# Supabase CLI / local artifacts
supabase/.temp/

# Common secret files
.env
.env.*
