<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GirokIQ-ios.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6D7C743C0A2B68917BDFDFDDA1204B795590C2E5</string>
				<key>dateExpires</key>
				<string>6/20/27</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>965LN23U3C.com.hectorleal.GirokIQ-ios</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>965LN23U3C</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>GirokIQ-ios.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>dc60ad8a-1651-41a1-b330-75cd0dd2ff2c</string>
				<key>dateExpires</key>
				<string>6/20/27</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.hectorleal.GirokIQ-ios</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>965LN23U3C</string>
				<key>name</key>
				<string>Hector Leal</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
